@using CRUDApp.Models

@{
    ViewData["Title"] = "CRUD Applications | Game";
}
<link rel="stylesheet" href="style.css">

<script type="text/javascript">
    function openLocation(url) {
        window.location.href = url;
    }

    function Week13() {
        var element = document.querySelectorAll(".week13").forEach(element => element.classList.remove("week13"));
    }

    function Week14() {
        var element = document.querySelectorAll(".week14").forEach(element => element.classList.remove("week14"));
    }

    function Week15() {
        var element = document.querySelectorAll(".week15").forEach(element => element.classList.remove("week15"));
    }

    function Week16() {
        var element = document.querySelectorAll(".week16").forEach(element => element.classList.remove("week16"));
    }

    function Week17() {
        var element = document.querySelectorAll(".week17").forEach(element => element.classList.remove("week17"));
    }

    function Week18() {
        var element = document.querySelectorAll(".week18").forEach(element => element.classList.remove("week18"));
    }

    function GetPoints() {

    }
</script>
<style>
    *, *::before, *::after {
        font-family: sans-serif;
        font-size: 16px;
    }

    .body-image {
        background-image: url(https://th.bing.com/th/id/OIP.RVLE8Pow7MvbWkgmHfeSUgHaDn?w=334&h=171&c=7&r=0&o=5&pid=1.7);
        height: 100vh;
        width: 100vw;
    }

    .table {
        color: lightblue;
        background-color: black;
        table-layout: fixed;
        margin-top: 120px;
        margin-right: 50px;
    }

    .container {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .body {
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .points {
        background-color: black;
        color: lightblue;
        text-align: center;
    }

    .header {
        text-align: center;
    }

    .columns {
        text-align: center;
    }

    .button {
        position: absolute;
        justify-content: center;
        justify-items: center;
        margin-top: 15px;
    }

    .teams {
        position: absolute;
        justify-content: center;
        justify-items: center;
        margin-top: 50px;
        color: white;
        background-color: black;
        border: solid red;
    }

    .bottom-text {
        position: absolute;
        justify-content: center;
        justify-items: center;
        transform: translateY(975px);
    }

    .score {
        color: white;
    }

    #blur {
        color: transparent;
        text-shadow: 0 0 8px #000;
    }

    .centered {
        text-align: center;
    }

    .week1 {
        color: transparent;
    }

    .week2 {
        color: transparent;
    }

    .week3 {
        color: transparent;
    }

    .week4 {
        color: transparent;
    }

    .week5 {
        color: transparent;
    }

    .week6 {
        color: transparent;
    }

    .week7 {
        color: transparent;
    }

    .week8 {
        color: transparent;
    }

    .week9 {
        color: transparent;
    }

    .week10 {
        color: transparent;
    }

    .week11 {
        color: transparent;
    }

    .week12 {
        color: transparent;
    }

    .week13 {
        color: transparent;
    }

    .week14 {
        color: transparent;
    }

    .week15 {
        color: transparent;
    }

    .week16 {
        color: transparent;
    }

    .week17 {
        color: transparent;
    }

    .week18 {
        color: transparent;
    }
</style>

<div class="body-image">

    <div class="body">
        <button class="button" onclick="openLocation('/MergeModel')">Introduction</button>

        <h1 class="teams">Teams</h1>
        <div>
            <div>
                <form class="" action="index.html" method="post">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th><button type="button" onclick="Week13()">Week 13</button></th>
                            <th><button type="button" onclick="Week14()">Week 14</button></th>
                            <th><button type="button" onclick="Week15()">Week 15</button></th>
                            <th><button type="button" onclick="Week16()">Week 16</button></th>
                            <th><button type="button" onclick="Week17()">Week 17</button></th>
                            <th><button type="button" onclick="Week18()">Week 18</button></th>
                        </tr>

                        @foreach (var cardinals in Model.Cardinals)
                        {
                            <tr class="columns">
                                <th>Player1</th>
                                <th id="week13" class="week13">@cardinals.Week13Score</th>
                                <th id="week14" class="week14">@cardinals.Week14Score</th>
                                <th id="week15" class="week15">@cardinals.Week15Score</th>
                                <th id="week16" class="week16">@cardinals.Week16Score</th>
                                <th id="week17" class="week17">@cardinals.Week17Score</th>
                                <th id="week18" class="week18">@cardinals.Week18Score</th>
                                <th rowspan="2">Arizona Cardinals</th>
                            </tr>
                        }

                        <tr class="columns">
                            <th>Guesses</th>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                        </tr>
                        <tr class="columns">
                            <th>Points</th>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                        </tr>
                        @foreach (var cowboys in Model.Cowboys)
                        {
                            <tr class="columns">
                                <th>Player2</th>
                                <th id="week13" class="week13">@cowboys.Week13Score</th>
                                <th id="week14" class="week14">@cowboys.Week14Score</th>
                                <th id="week15" class="week15">@cowboys.Week15Score</th>
                                <th id="week16" class="week16">@cowboys.Week16Score</th>
                                <th id="week17" class="week17">@cowboys.Week17Score</th>
                                <th id="week18" class="week18">@cowboys.Week18Score</th>
                                <th rowspan="2">Dallas Cowboys</th>
                            </tr>
                        }

                        <tr class="columns">
                            <th>Guesses</th>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                        </tr>
                        <tr class="columns">
                            <th>Points</th>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                        </tr>

                        @foreach (var dolphins in Model.Dolphins)
                        {
                            <tr class="columns">
                                <th>Player3</th>
                                <th id="week13" class="week13">@dolphins.Week13Score</th>
                                <th id="week14" class="week14">@dolphins.Week14Score</th>
                                <th id="week15" class="week15">@dolphins.Week15Score</th>
                                <th id="week16" class="week16">@dolphins.Week16Score</th>
                                <th id="week17" class="week17">@dolphins.Week17Score</th>
                                <th id="week18" class="week18">@dolphins.Week18Score</th>
                                <th rowspan="2">Miami Dolphins</th>
                            </tr>
                        }

                        <tr class="columns">
                            <th>Guesses</th>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                        </tr>
                        <tr class="columns">
                            <th>Points</th>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                        </tr>

                        @foreach (var chiefs in Model.Chiefs)
                        {
                            <tr class="columns">
                                <th>Player4</th>
                                <th id="week13" class="week13">@chiefs.Week13Score</th>
                                <th id="week14" class="week14">@chiefs.Week14Score</th>
                                <th id="week15" class="week15">@chiefs.Week15Score</th>
                                <th id="week16" class="week16">@chiefs.Week16Score</th>
                                <th id="week17" class="week17">@chiefs.Week17Score</th>
                                <th id="week18" class="week18">@chiefs.Week18Score</th>
                                <th rowspan="2">Kansas City Chiefs</th>
                            </tr>
                        }

                        <tr class="columns">
                            <th>Guesses</th>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                        </tr>
                        <tr class="columns">
                            <th>Points</th>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                        </tr>

                        @foreach (var eagles in Model.Eagles)
                        {
                            <tr class="columns">
                                <th>Player5</th>
                                <th id="week13" class="week13">@eagles.Week13Score</th>
                                <th id="week14" class="week14">@eagles.Week14Score</th>
                                <th id="week15" class="week15">@eagles.Week15Score</th>
                                <th id="week16" class="week16">@eagles.Week16Score</th>
                                <th id="week17" class="week17">@eagles.Week17Score</th>
                                <th id="week18" class="week18">@eagles.Week18Score</th>
                                <th rowspan="2">Philidelphia Eagles</th>
                            </tr>
                        }

                        <tr class="columns">
                            <th>Guesses</th>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                            <td><input type="text" name="playerGuess" placeholder="Guess"></td>
                        </tr>
                        <tr class="columns">
                            <th>Points</th>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                            <td><input type="text" name="points" placeholder="Points"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="bottom-text">
            <div style="display: span;" class="header">
                <div class="score"><h3>Score</h3></div>
                <button onclick="openLocation('/MergeModel/week7through12')">Week 7-12</button>
                <span><input type="text" placeholder="Player 1 Total Points" /></span>
                <span><input type="text" placeholder="Player 2 Total Points" /></span>
                <span><input type="text" placeholder="Player 3 Total Points" /></span>
                <span><input type="text" placeholder="Player 4 Total Points" /></span>
                <span><input type="text" placeholder="Player 5 Total Points" /></span>
            </div>
            <div class="points">
                <p>Points go as follows:</p>
                <div>Within 3 points = 5 points</div>
                <div>Within 10 points = 3 points</div>
                <div>Within 14 points = 1 point</div>
            </div>
        </div>
    </div>
</div>
